:root {
    --primary-color: #6a669d;
    --secondary-color: #9abf80;
    --bg-color: #e5e3d4;
    --additional-color: #1c325b;
    --font-color: #fff;
    --breakpoint-mobile: 634px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    background-color: #6a669d;
    font-size: 16px;
}

.container {
    max-width: 1600px;
    width: 100%;
    padding-inline: 20px;
    margin: 0 auto;
}

.header {
    width: 100%;
    padding: 20px 0;
    background-color: #fff;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
    min-height: 79px;
    display: flex;
    align-items: center;
}
.header_homepage {
    position: absolute;
    background-color: transparent;
    box-shadow: none;

    @media screen and (max-width: 550px) {
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
        position: relative;
    }
}

.container-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 770px) {
        flex-direction: column;
    }
}

.header-top {
    display: flex;
    align-items: center;
    width: 20%;

    @media screen and (max-width: 770px) {
        justify-content: space-between;
        width: 100%;
    }
}

.logo {
    color: var(--additional-color);
    text-shadow: 2px 2px 4px #fff, -1px -1px 2px #fff;
    font-style: italic;
    font-weight: bold;
    font-size: clamp(20px, 25px, 30px);
    cursor: pointer;
    z-index: 9999;

    @media screen and (max-width: 770px) {
        position: absolute;
        left: 20px;
        top: 30px;
    }
}

.header-menu {
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: end;
    align-items: center;

    @media screen and (max-width: 770px) {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 100px;
    }
}

.hamburger {
    display: none;
    z-index: 9999;
    @media screen and (max-width: 770px) {
        display: flex;
        flex-direction: column;
        gap: 7px;
        cursor: pointer;
        position: absolute;
        top: 30px;
        right: 20px;
    }
}

.hamburger:hover {
    scale: 1.1;
}

.hamburger .icon {
    font-size: 30px;
    position: absolute;
    top: -7px;
    right: 0px;
}

.hamburger span {
    background-color: var(--additional-color);
    width: 30px;
    height: 4px;
    border-radius: 3px;
}

.header-menu.open {
    display: flex;
}

.header-link {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-radius: 10px;
    background-color: #6a669d;
    padding: 10px 20px;
    z-index: 9999;

    @media screen and (max-width: 634px) {
        width: 100%;
        text-align: center;
    }
}
.lang-container {
    display: flex;
    z-index: 9999;
    gap: 5px;
}

.lang-link {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-radius: 10px;
    background-color: #9abf80;
    padding: 5px;
    z-index: 9999;

    @media screen and (max-width: 634px) {
        width: 100%;
        text-align: center;
    }
}

.lang-link:hover {
    background-color: #6a669d;
}

.header-link.active,
.lang-link.active {
    background-color: var(--additional-color);
}

.header-link:hover {
    background-color: #9abf80;
}

.language-nav {
    margin-top: 20px;
    align-self: flex-end;
}

/* buttons style */
.btn {
    padding: 10px 8px;
    background-color: #6a669d;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #fff;
    cursor: pointer;
    font-size: 16px;
    min-width: 100px;
    @media only screen and (max-width: 770px) {
        width: 100%;
    }
}

a {
    text-decoration: none;
    text-align: center;
}

.btn:hover {
    background-color: var(--additional-color);
}

.btn.active {
    background-color: var(--secondary-color);
}

.btn:focus {
    background-color: var(--secondary-color);
}
.btn-nav:disabled {
    background-color: var(--secondary-color);
}
.btn-answers:disabled {
    background-color: var(--primary-color);
}
/* Home Page */

.parallax {
    position: relative;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-height: 1000px;
    overflow: hidden;
    scroll-behavior: smooth;
    background: linear-gradient(
        to bottom right,
        var(--primary-color),
        lightblue,
        var(--additional-color)
    );
    @media screen and (max-width: 1350px) {
        height: 950px;
        background: transparent;
    }
    @media screen and (max-width: 1300px) {
        height: 890px;
    }
    @media screen and (max-width: 1250px) {
        height: 890px;
    }
    @media screen and (max-width: 1200px) {
        height: 815px;
    }
    @media screen and (max-width: 1150px) {
        height: 780px;
    }
    @media screen and (max-width: 1050px) {
        height: 730px;
    }
    @media screen and (max-width: 950px) {
        height: 650px;
    }
    @media screen and (max-width: 850px) {
        height: 560px;
    }
    @media screen and (max-width: 750px) {
        height: 455px;
    }
    @media screen and (max-width: 634px) {
        height: 355px;
    }
    @media screen and (max-width: 550px) {
        width: 100%;
        height: 100vh;
        background: linear-gradient(
            to bottom right,
            var(--primary-color),
            lightblue,
            var(--additional-color)
        );
    }
}

.bg_img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    z-index: 8000;

    @media screen and (max-width: 550px) {
        display: none;
    }
}

.parallax_text {
    display: none;
    color: var(--additional-color);
    text-shadow: 2px 2px 4px #fff, -1px -1px 2px #fff;
    z-index: 8001;
    font-size: clamp(20px, 45px, 50px);
    position: absolute;
    top: -20px;
    width: 100%;
    text-align: center;
    transform: translateX(-20px) rotate(20deg);
    transition: transform 0.3s ease-out;
}

.parallax_btn {
    display: block;
    z-index: 9001;
    font-size: clamp(25px, 40px, 55px);
    margin-top: 140px;
    font-weight: 800;
    padding: 10px 20px;
    text-shadow: 2px 2px 4px #fff, -1px -1px 2px #fff;
    background-color: transparent;
    color: var(--additional-color);
    border: none;
    @media screen and (max-width: 460px) {
        margin-top: 100px;
    }
}

.parralax-arrow {
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-size: clamp(35px, 40px, 55px);
    font-weight: 800;
    animation: bounce 1.5s infinite;
    background-color: transparent;
    color: var(--additional-color);
    border-radius: 10px;
    padding: 2px 5px;
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

.hero1 {
    width: 50%;
    position: absolute;
    height: auto;
    left: 0;
    top: 0;
    transition: right 0.1s ease-out;
    z-index: 9000;

    @media screen and (max-width: 550px) {
        display: none;
    }
}

.hero2 {
    width: 50%;
    height: auto;
    position: absolute;
    right: 0;
    top: 0;
    transition: right 0.1s ease-out;
    z-index: 9000;
    @media screen and (max-width: 550px) {
        display: none;
    }
}

.homepage__about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    background-color: #6a669d;
    gap: 20px;
    padding: 20px;

    @media screen and (max-width: 950px) {
        grid-template-columns: 1fr 1fr;
    }
    @media screen and (max-width: 634px) {
        grid-template-columns: 1fr;
    }
}

.about__box {
    background-color: rgb(239, 239, 239);
    height: 300px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 600px) {
        max-height: 200px;
    }
}

.notactive {
    opacity: 0.6;
}
.about__hdl {
    width: 100%;
    color: var(--additional-color);
    text-shadow: 2px 2px 4px #fff, -1px -1px 2px #fff;
    font-size: clamp(25px, 30px, 35px);
    font-weight: bold;
}
/* Quizzes Page */
.quizzes-page-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 20px;
    min-height: 100vh;
}

.language-nav {
    display: flex;
    align-items: center;
    gap: 5px;
}

.quizzes-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;

    @media screen and (max-width: 900px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @media screen and (max-width: 660px) {
        grid-template-columns: 1fr 1fr;
    }
    @media screen and (max-width: 500px) {
        grid-template-columns: 1fr;
    }
}

.quiz-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
    min-height: 250px;
}

.quiz-container-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.quiz-slide {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
    padding: 40px;
}

.quiz-slide-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--additional-color);
}

.link-back {
    font-weight: bold;
    font-size: 16px;
    color: var(--additional-color);
}

.answers-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.navigation-container {
    display: flex;
    justify-content: space-between;
    min-width: 100px;
}

.navigation-container button {
    min-width: 100px;
}

.last-slide-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
    width: 100%;
    max-width: 800px;
}

.correct-answers-container {
    width: 100%;
}

.last-slide-btn-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.btn.btn-back {
    background-color: var(--additional-color);
    align-self: flex-start;

    @media screen and (max-width: 634px) {
        align-self: center;
    }
}

.btn.btn-back:hover {
    background-color: var(--secondary-color);
}

/* calculatros */

.metric-calculator-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
    padding-bottom: 100px;
    width: 100%;
    max-width: 900px;
}

.metric-calculator-container h1,
.metric-calculator-container h2 {
    color: #1c325b;
}

.calculator-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #ebebe5;
    padding: 20px;
    width: 100%;
    max-width: 700px;
    gap: 20px;
}

.calculator-box {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;

    @media only screen and (max-width: 550px) {
        flex-direction: column;
    }
}

.calculator-input {
    padding: 10px 8px;
    background-color: #9abf80;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #fff;
    cursor: pointer;
    font-size: 16px;
    min-width: 184px;

    @media only screen and (max-width: 634px) {
        width: 100%;
    }
}

/* not visible arrows in input type number */
.calculator-input::-webkit-inner-spin-button,
.calculator-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
.calculator-input:hover {
    background-color: var(--additional-color);
}

.calculator-input:focus {
    background-color: var(--additional-color);
}

.calculator-box-result {
    display: flex;
    width: 100%;
}
.calculator-result {
    padding: 10px 8px;
    background-color: var(--additional-color);
    color: #fff;
    border-radius: 5px;
    border: 1px solid #fff;
    cursor: pointer;
    font-size: 16px;
    width: 200%;
}

.calculator-notes-box {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    width: 100%;
}

.calculator-notes-box li {
    list-style: none;
}

.btn-delete {
    background-color: rgb(175, 77, 77);
    align-self: end;
}

.no-visible {
    display: none;
}

.footer {
    min-height: 70px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: rgb(239, 239, 239);
}
