:root {
    --primary-color: #6a669d;
    --secondary-color: #9abf80;
    --bg-color: rgb(239, 239, 239);
    --bg-card-color: #ebebe5;
    --additional-color: #1c325b;
    --bg-delete: rgb(175, 77, 77);
    --bg-cards: #fff;
    --font-color: #fff;
    --breakpoint-mobile: 634px;
    --breakpoint-lg-mobile: 768px;
    --breakpoint-tablet: 1024px;
    --breakpoint-sm-desktop: 1280px;
    --breakpoint-lg-desktop: 1920px;
    --margin-top-container: 50px;
    --margin-bottom-container: 50px;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    background-color: var(--primary-color);
    font-size: 16px;
}

.container {
    max-width: 1600px;
    width: 100%;
    padding-inline: 20px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    text-align: center;
}

.no-visible {
    display: none;
}

.hdl {
    color: var(--additional-color);
}

.text-center {
    text-align: center;
}
