.quizzes-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    margin-top: var(--margin-top-container);
    margin-bottom: var(--margin-bottom-container);

    @media screen and (max-width: 900px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @media screen and (max-width: 660px) {
        grid-template-columns: 1fr 1fr;
    }
    @media screen and (max-width: 500px) {
        grid-template-columns: 1fr;
    }
}
