.last-slide-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    background-color: var(--bg-cards);
    padding: 20px;
    width: 100%;
    max-width: 800px;
    margin-top: var(--margin-top-container);
    margin-bottom: var(--margin-bottom-container);
}

.correct-answers-container {
    width: 100%;
}

.last-slide-btn-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}
