.calculator-box {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
@media only screen and (max-width: 1080px) {
    .calculator-box {
        flex-direction: column;
    }
}

.calculator-input {
    padding: 10px 8px;
    background-color: var(--secondary-color);
    color: var(--font-color);
    border-radius: 5px;
    border: 1px solid #fff;
    cursor: pointer;
    font-size: 16px;
    min-width: 184px;
}
@media only screen and (max-width: 1080px) {
    .calculator-input {
        width: 100%;
    }
}

/* not visible arrows in input type number */
.calculator-input::-webkit-inner-spin-button,
.calculator-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
.calculator-input:hover {
    background-color: var(--additional-color);
}

.calculator-input:focus {
    background-color: var(--additional-color);
}

.calculator-box-result {
    display: flex;
    width: 100%;
}
.calculator-result {
    padding: 10px 8px;
    background-color: var(--additional-color);
    color: var(--font-color);
    border-radius: 5px;
    border: 1px solid #fff;
    cursor: pointer;
    font-size: 16px;
    width: 200%;
}

.calculator-notes-box {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    width: 100%;
}

.calculator-notes-box li {
    list-style: none;
}
