.homepage__about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    background-color: var(--primary-color);
    gap: 20px;
    padding: 20px;

    @media screen and (max-width: 950px) {
        grid-template-columns: 1fr 1fr;
    }
    @media screen and (max-width: 634px) {
        grid-template-columns: 1fr;
    }
}

.about__box {
    background-color: var(--bg-color);
    height: 300px;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 600px) {
        max-height: 200px;
    }
}

.notactive {
    opacity: 0.6;
}

.about__hdl {
    width: 100%;
    color: var(--additional-color);
    text-shadow: 2px 2px 4px #fff, -1px -1px 2px #fff;
    font-size: clamp(25px, 30px, 35px);
    font-weight: bold;
}
