.parallax {
    position: relative;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-height: 1000px;
    overflow: hidden;
    scroll-behavior: smooth;
    background: linear-gradient(
        to bottom right,
        var(--primary-color),
        lightblue,
        var(--additional-color)
    );
    @media screen and (max-width: 1350px) {
        height: 950px;
        background: transparent;
    }
    @media screen and (max-width: 1300px) {
        height: 890px;
    }
    @media screen and (max-width: 1250px) {
        height: 890px;
    }
    @media screen and (max-width: 1200px) {
        height: 815px;
    }
    @media screen and (max-width: 1150px) {
        height: 780px;
    }
    @media screen and (max-width: 1050px) {
        height: 730px;
    }
    @media screen and (max-width: 950px) {
        height: 650px;
    }
    @media screen and (max-width: 850px) {
        height: 560px;
    }
    @media screen and (max-width: 750px) {
        height: 455px;
    }
    @media screen and (max-width: 634px) {
        height: 355px;
    }
    @media screen and (max-width: 550px) {
        width: 100%;
        height: 100vh;
        background: linear-gradient(
            to bottom right,
            var(--primary-color),
            lightblue,
            var(--additional-color)
        );
    }
}

.bg_img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    z-index: 8000;

    @media screen and (max-width: 550px) {
        display: none;
    }
}

.parallax_text {
    display: none;
    color: var(--additional-color);
    text-shadow: 2px 2px 4px #fff, -1px -1px 2px #fff;
    z-index: 8001;
    font-size: clamp(20px, 45px, 50px);
    position: absolute;
    top: -20px;
    width: 100%;
    text-align: center;
    transform: translateX(-20px) rotate(20deg);
    transition: transform 0.3s ease-out;
}

.parallax_btn {
    display: block;
    z-index: 9001;
    font-size: clamp(25px, 40px, 55px);
    margin-top: 140px;
    font-weight: 800;
    padding: 10px 20px;
    text-shadow: 2px 2px 4px #fff, -1px -1px 2px #fff;
    background-color: transparent;
    color: var(--additional-color);
    border: none;
    @media screen and (max-width: 460px) {
        margin-top: 100px;
    }
}

.parralax-arrow {
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-size: clamp(35px, 40px, 55px);
    font-weight: 800;
    animation: bounce 1.5s infinite;
    background-color: transparent;
    color: var(--additional-color);
    border-radius: 10px;
    padding: 2px 5px;
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

.hero1 {
    width: 50%;
    position: absolute;
    height: auto;
    left: 0;
    top: 0;
    transition: right 0.1s ease-out;
    z-index: 9000;

    @media screen and (max-width: 550px) {
        display: none;
    }
}

.hero2 {
    width: 50%;
    height: auto;
    position: absolute;
    right: 0;
    top: 0;
    transition: right 0.1s ease-out;
    z-index: 9000;
    @media screen and (max-width: 550px) {
        display: none;
    }
}
