.metric-calculator-container {
    margin-top: var(--margin-top-container);
    margin-bottom: var(--margin-bottom-container);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    background-color: var(--bg-cards);
    padding: 20px;
    padding-bottom: 100px;
    width: 100%;
    max-width: 900px;
}

.metric-calculator-container h1,
.metric-calculator-container h2 {
    color: var(--additional-color);
}
