.quizzes-page-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 20px;
    min-height: 100vh;
}
